.datatable-search input {
    outline: none;
}

@media (max-width: 640px) {
    .datatable-top {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .datatable-search input {
        width: 100%;
    }
}
