.datatable-search input {
    outline: none;
}

@media (max-width: 640px) {
    .datatable-top {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .datatable-search input {
        width: 100%;
    }
}

.required::after {
    content: "*";
    color: rgb(228, 19, 19);
}

button,
a {
    transition: 0.2s ease-in;
}

.form-input input {
    background: none;
    border: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 6px 12px;
}

.trucated-text {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.confirmKembali .swal-button--confirm {
    background-color: #0d6efd;
}

.confirmKembali .swal-button--confirm:hover {
    background-color: #0b5ed7;
}

.selectize.is-invalid {
    border: 1px solid #dc3545;
    box-shadow: 0 0 2px #dc3545;
    border-radius: 4px;
}

.profile-img {
    border-radius: 100%;
    width: 50vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
