.datatable-search input {
    outline: none;
}

@media (max-width: 640px) {
    .datatable-top {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .datatable-search input {
        width: 100%;
    }
}

.required::after {
    content: "*";
    color: rgb(228, 19, 19);
}

button,
a {
    transition: 0.2s ease-in;
}
